@import "tailwindcss";

:root {
  color-scheme: dark;

  --logo-font-family: "Bungee", cursive;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
.logo-font{
  font-family: var(--logo-font-family);
}